---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//
// DeepSpeed customizations
//
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

.nav {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0px;
  background-color: #222 !important;
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index:1000
}

.w-nav:before, .w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end:2
}

.w-nav:after {
  clear:both
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color:#333333
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right:auto
}

.w-nav-link.w--current {
  color:#0082f3
}

.w-nav-menu {
  position: relative;
  float:right
}

[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #C8C8C8;
  text-align: center;
  overflow: visible;
  min-width:200px
}

.w--nav-link-open {
  display: block;
  position:relative
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width:100%
}

.w-nav-overlay [data-nav-menu-open] {
  top: 0
}

.w-nav[data-animation="over-left"] .w-nav-overlay {
  width: auto
}

.w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
  right: auto;
  z-index: 1;
  top: 0
}

.w-nav[data-animation="over-right"] .w-nav-overlay {
  width: auto
}

.w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
  left: auto;
  z-index: 1;
  top:0
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select:none
}

.w-nav-button:focus {
  outline:0
}

.w-nav-button.w--open {
  background-color: #C8C8C8;
  color: white
}

.w-nav[data-collapse="all"] .w-nav-menu {
  display: none
}

.w-nav[data-collapse="all"] .w-nav-button {
  display:block
}

.w--nav-dropdown-open {
  display:block
}

.w--nav-dropdown-toggle-open {
  display:block
}

.w--nav-dropdown-list-open {
  position:static
}

.header-logo {
  width: 176px;
  height: 45px;
  cursor: default;
}

.header-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 1250px;
  min-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -4px;
  padding: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-brand-div {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  clear: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

  .nav-link-6 {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    }
    
    .nav-link-5 {
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    }
    
    .nav-link-3 {
    margin-left: 7px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    }
    
    .nav-link-3 {
    margin-left: 7px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    }
    
    .nav-link-2 {
    margin-left: 11px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    }
    
    .button-2 {
    width: auto;
    margin-left: 29px;
    padding: 7px 12px;
    border-radius: 8px;
    background-color: #ff9283;
    font-family: Roboto, sans-serif;
    color: #222;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    }
    
.nav-link {
  display: none;
  margin-left: 8px;
  font-family: Barlow;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 16px;
  font-weight: 600;
}

#main {
  margin-top: 100px;
}

.page__inner-wrap {
  width: 130% !important;
}

.page__content {
  margin-left: 60px !important;
  margin-right: -240px !important;
}

.archive {
  padding-right: 0px;
  padding-left: 60px;
}

.sidebar__right {
  // width: 240px;
  display: none;
}

h2 {
  margin-top: 0px;
}

#page-title {
  display: none;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  font-size: $type-size-2; // DeepSpeed: increase size
}

.nav-menu a:hover, .nav-menu a:visited {
  color: #fff;
}

.nav-menu a.button-2:hover, .nav-menu a.button-2:visited {
  color: #222;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dfdfeb;
}

.copyright-text-block {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

#footer {
  background-color: #dfdfeb;
  color: #222 !important;
  padding: 0;
  margin: 0;
}

.page__footer footer {
  clear: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.page__footer {
  clear: none;
  float: none;
  margin: 0;
}

.page__footer::after {
  clear: none !important;
  content: none !important;
  display: block !important;
}


.footer-grid {
  display: -ms-grid;
  display: grid;
  padding-right: 2vw;
  padding-bottom: 60px;
  padding-left: 2vw;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 6vw;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 2.5fr;
  grid-template-columns: 1fr 1fr 2.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-logo {
  position: static;
  display: block;
  overflow: visible;
  width: 325px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  float: none;
  clear: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.paragraph-10 {
  margin-top: 16px;
  font-size: 16px;
}

.footer-div p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.footer-div img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.footer-div h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 18px;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 991px) {
  .body {
    display: block;
    overflow: visible;
  }

  .paragraph {
    width: 660px;
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 24px;
    line-height: 32px;
  }

  .paragraph.demodetail {
    width: 600px;
  }

  .heading {
    width: 660px;
  }

  .s1-content {
    width: 700px;
    margin-top: -40px;
  }

  .button {
    margin-top: 56px;
  }

  .section-1 {
    height: 58vh;
  }

  .image-10 {
    margin-right: 12px;
    margin-left: -8px;
  }

  .button-2 {
    display: block;
    max-width: 140px;
    margin-left: 20px;
  }

  .nav-menu {
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #000;
    color: #fff;
  }

  .nav-link-3 {
    margin-left: 20px;
  }

  .nav-link-5 {
    margin-left: 20px;
  }

  .nav-link-6 {
    margin-left: 20px;
  }

  .header-div {
    max-width: 991px;
    min-width: 568px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tools {
    width: 900px;
    height: 90px;
    grid-column-gap: 54px;
    grid-row-gap: 90px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .service.rapid {
    width: auto;
  }

  .graphic {
    width: auto;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .html-embed-2 {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .html-embed-2.arrow {
    left: -40px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 2px;
  }

  .text-block.deliver {
    padding-left: 0px;
  }

  .text-block.explore {
    padding-left: 0px;
  }

  .text-block.understand {
    margin-top: 35px;
    margin-left: 0px;
  }

  .div-block-7 {
    margin-left: -7px;
    padding-left: 0px;
  }

  .profile-pic {
    width: 180px;
    height: 180px;
    margin-right: 31px;
    padding-right: 0px;
    padding-left: 0px;
    background-size: 180px;
  }

  .heading-6 {
    width: 500px;
    padding-left: 0px;
    font-size: 45px;
  }

  .title-text-block {
    width: 600px;
    font-size: 28px;
  }

  .text-block-2 {
    margin-top: 50px;
  }

  .features-grid {
    grid-column-gap: 9vw;
    grid-row-gap: 100px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .div-block-10 {
    width: 768px;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto minmax(253px, 0.25fr);
    grid-template-rows: auto minmax(253px, 0.25fr);
  }

  .div-block-10.second-row {
    width: 515px;
    margin-top: 39px;
    margin-right: 0px;
    margin-left: 0px;
    grid-auto-columns: minmax(500px, 1fr);
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .html-embed-5 {
    width: 100px;
  }

  .div-block-11 {
    margin-left: 0px;
  }

  .heading-8 {
    width: 880px;
  }

  .button-3 {
    font-size: 16px;
  }

  .section2 {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .icon {
    position: static;
    top: 0px;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #fff;
  }

  .menu-button {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu-button.w--open {
    background-color: #222;
  }

  .wrapper {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .s3-content {
    margin-top: 0px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .s4-content {
    margin-top: 0px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .div-block-24 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .partners-grid {
    grid-column-gap: 9vw;
    grid-row-gap: 100px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .getting-started-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 6vw;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .news-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding-right: 6vw;
    padding-left: 6vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tutorials-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    margin-left: 0px;
    padding-left: 3vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news-title {
    width: 90vw;
    font-size: 28px;
  }

  .tutorial-title {
    width: 90vw;
    max-width: 670px;
    font-size: 28px;
  }

  .newsheadline {
    width: 90vw;
  }

  .text-block-6 {
    width: 90vw;
  }

  .article-ink.seemorenews {
    width: 90vw;
    margin-bottom: 0px;
  }

  .article-ink.seemoretutorials {
    width: 90vw;
    max-width: 670px;
    margin-bottom: 0px;
  }

  .tutorial-headline {
    width: 90vw;
    max-width: 670px;
  }

  .grid-2 {
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .news-tuts-grid {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .getting-started-header {
    max-width: 270px;
  }

  .learn-more-grid {
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .footer-grid {
    grid-auto-flow: row;
    grid-column-gap: 8vw;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .news-headline {
    width: 90vw;
    max-width: 670px;
  }

  .getting-started-paragraph {
    width: 90vw;
    max-width: 270px;
  }
  .w-nav[data-collapse="medium"] .w-nav-menu{display:none}.w-nav[data-collapse="medium"] .w-nav-button{display:block}
}

@media screen and (max-width: 767px) {
  .paragraph {
    width: 430px;
    margin-top: 35px;
    font-size: 22px;
  }

  .paragraph.demodetail {
    width: 80vw;
  }

  .heading {
    width: 400px;
    font-size: 45px;
    line-height: 55px;
  }

  .s1-content {
    width: 568px;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .button {
    margin-top: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .section-1 {
    height: 70vw;
  }

  .header-logo.featured-logo {
    width: 145px;
    height: 145px;
  }

  .button-2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #ff9283;
    color: #2d2d2d;
  }

  .nav-menu {
    margin-left: 0px;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
  }

  .nav-link-2 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-3 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-5 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-6 {
    text-align: center;
  }

  .header-div {
    max-width: none;
    min-width: auto;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .services-paragraph {
    width: 600px;
    height: auto;
    margin-top: 45px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 28px;
    line-height: 42px;
  }

  .services-heading {
    width: 600px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 75px;
    line-height: 75px;
  }

  .tools {
    width: auto;
    height: auto;
    margin-top: 70px;
    grid-column-gap: 54px;
  }

  .heading-4 {
    width: 110px;
    font-size: 2.7vw;
    line-height: 4vw;
  }

  .paragraph-3 {
    font-size: 2.7vw;
    line-height: 4vw;
  }

  .paragraph-4 {
    width: 568px;
    font-size: 28px;
    line-height: 42px;
  }

  .heading-5 {
    width: 568px;
    height: auto;
    font-size: 65px;
    line-height: 75px;
  }

  .graphic {
    left: 33px;
    top: -39px;
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }

  .html-embed-2.arrow {
    margin-right: 0px;
    padding-right: 0px;
  }

  .section-title {
    width: auto;
  }

  .title-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: left;
  }

  .title-text-block {
    width: 80vw;
    font-size: 24px;
    line-height: 32px;
  }

  .title-text-block.light {
    display: block;
  }

  .features-grid {
    margin-top: 25px;
    grid-auto-flow: row;
    grid-column-gap: 9vw;
    grid-row-gap: 75px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-10 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .div-block-11 {
    -webkit-transform: scale3d(1none, 1none, 1none);
    transform: scale3d(1none, 1none, 1none);
  }

  .paragraph-8 {
    font-size: 3.5vw;
    line-height: 5.5vw;
  }

  .heading-8 {
    font-size: 11vw;
    line-height: 12.1vw;
  }

  .paragraph-9 {
    top: 30vh;
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .selection-container {
    opacity: 0;
  }

  .icon {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .image-20 {
    margin-left: -15px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .image-21 {
    margin-left: -15px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .image-22 {
    margin-left: -25px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .wrapper {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .s3-content {
    -webkit-transform: scale(0.76);
    -ms-transform: scale(0.76);
    transform: scale(0.76);
  }

  .s4-content {
    -webkit-transform: scale(0.76);
    -ms-transform: scale(0.76);
    transform: scale(0.76);
  }

  .s5-content {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .div-block-24 {
    width: 100vw;
    -webkit-transform: scale(0.76);
    -ms-transform: scale(0.76);
    transform: scale(0.76);
  }

  .section-3 {
    height: 900px;
  }

  .demo-wrapper1 {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .partners-grid {
    margin-top: 25px;
    grid-auto-flow: row;
    grid-column-gap: 9vw;
    grid-row-gap: 75px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .getting-started-grid {
    grid-column-gap: 5vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .paragraph-10 {
    width: 90vw;
    max-width: 670px;
  }

  .news-div {
    padding-left: 6vw;
  }

  .s6-content {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .news-title {
    width: 90vw;
    font-size: 24px;
    line-height: 32px;
  }

  .news-title.light {
    display: block;
  }

  .tutorial-title {
    width: 90vw;
    font-size: 24px;
    line-height: 32px;
  }

  .tutorial-title.light {
    display: block;
  }

  .newsheadline {
    width: 90vw;
  }

  .text-block-6 {
    width: 90vw;
  }

  .article-ink.seemorenews {
    width: 90vw;
  }

  .article-ink.seemoretutorials {
    width: 90vw;
    max-width: 670px;
  }

  .tutorial-headline {
    width: 90vw;
    max-width: 670px;
  }

  .grid-2 {
    grid-column-gap: 5vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-block-9 {
    width: 90vw;
  }

  .learn-more-grid {
    grid-column-gap: 5vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-column-gap: 5vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .turing-logo {
    min-height: 100px;
  }

  .pytorch-lightning-logo {
    min-height: 120px;
  }

  .huggingface-logo {
    min-height: 45px;
  }

  .pytorch-logo {
    min-height: 45px;
  }

  .news-headline {
    width: 90vw;
    max-width: 670px;
  }

  .getting-started-paragraph {
    width: 90vw;
    max-width: 670px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    overflow: hidden;
  }

  .paragraph {
    width: 80vw;
    margin-top: 36px;
    margin-right: 10vw;
    margin-left: 10vw;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .paragraph.demodetail {
    margin-bottom: 0px;
    font-size: 16px;
  }

  .heading {
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 25px;
    line-height: 32px;
  }

  .s1-content {
    width: 80vw;
    height: auto;
    margin-right: 10vw;
    margin-bottom: 0px;
    margin-left: 10vw;
    padding-top: 45px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .button {
    width: auto;
    height: 40px;
    margin-top: 26px;
    font-size: 14px;
    line-height: 16px;
  }

  .section-1 {
    display: block;
    width: 100vw;
    min-height: 470px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-position: 50% 100%;
  }

  .image-10 {
    margin-right: 8px;
    margin-left: 9px;
  }

  .header-logo.featured-logo {
    width: 80px;
    height: 80px;
  }

  .button-2 {
    position: relative;
    display: block;
    max-width: 180px;
    color: #2d2d2d;
    text-align: center;
  }

  .nav-menu {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
  }

  .nav-link {
    margin-left: 7px;
    text-align: right;
  }

  .nav-link-2 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-3 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-5 {
    margin-left: 0px;
    text-align: center;
  }

  .nav-link-6 {
    text-align: center;
  }

  .nav-link-6.w--current {
    text-align: right;
  }

  .header-brand-div {
    -webkit-transform: translate(-22px, 0px) scale(0.8);
    -ms-transform: translate(-22px, 0px) scale(0.8);
    transform: translate(-22px, 0px) scale(0.8);
  }

  .header-div {
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 4px;
    padding-left: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .services-paragraph {
    width: 320px;
    margin-top: 0px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    line-height: 27px;
  }

  .services-heading {
    width: 320px;
    height: 180px;
    padding-top: 50px;
    padding-left: 17px;
    font-size: 40px;
    line-height: 45px;
  }

  .s3 {
    height: 100vh;
    min-height: 650px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .tools {
    width: 320px;
    margin-top: 18px;
    margin-left: 81px;
    padding-left: 6px;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    -ms-grid-columns: 0.75fr;
    grid-template-columns: 0.75fr;
  }

  .heading-4 {
    font-size: 20px;
    line-height: 20px;
  }

  .paragraph-3 {
    font-size: 20px;
    line-height: 20px;
  }

  .paragraph-4 {
    width: 320px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 18px;
    line-height: 27px;
  }

  .heading-5 {
    width: 320px;
    height: 100px;
    margin-top: 0px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 36px;
    line-height: 45px;
  }

  .process-title {
    margin-top: 0px;
  }

  .html-embed {
    width: 50px;
    height: 50px;
  }

  .graphic {
    overflow: visible;
    width: 70vw;
    margin-left: 12px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .html-embed-2 {
    margin-left: 0px;
    padding-left: 0px;
  }

  .html-embed-2.arrow {
    left: -20px;
  }

  .s4 {
    height: 100vh;
    min-height: 500px;
    margin-top: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .text-block.deliver {
    width: auto;
    margin-top: 25px;
    padding-top: 0px;
    font-size: 15px;
  }

  .text-block.explore {
    width: auto;
    margin-top: 25px;
    font-size: 15px;
  }

  .text-block.understand {
    width: auto;
    margin-top: 25px;
    font-size: 15px;
  }

  .div-block-7 {
    position: relative;
    left: -25px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .profile-pic {
    width: 180px;
    height: 180px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    background-size: 180px;
  }

  .heading-6 {
    width: auto;
    height: auto;
    margin-top: 48px;
    margin-bottom: 0px;
    padding-left: 0px;
    font-size: 35px;
    line-height: 35px;
  }

  .section-title {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .title-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .title-text-block {
    margin-bottom: 20px;
    padding-top: 64px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
  }

  .text-block-2 {
    margin-top: 133px;
    font-size: 14px;
    text-align: center;
  }

  .section-2 {
    width: 100vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .image-5 {
    width: 100%;
    max-width: none;
    margin-top: 32px;
    margin-left: -7px;
    padding-top: 0px;
  }

  .features-grid {
    margin-top: -60px;
    margin-bottom: 44px;
    grid-row-gap: 85px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .image-2 {
    width: 143px;
    height: 50px;
    max-width: none;
    margin-top: 24px;
    margin-left: -9px;
  }

  .image-4 {
    width: 100%;
    max-width: none;
    margin-top: 21px;
    margin-left: -13px;
  }

  .heading-7 {
    width: 320px;
    height: auto;
    font-size: 36px;
  }

  .s5 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .paragraph-6 {
    width: 320px;
    height: auto;
    font-size: 12px;
  }

  .div-block-10 {
    width: 320px;
    height: 100px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .paragraph-7 {
    margin-top: 7px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 24.5px;
  }

  .div-block-11 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .s6 {
    margin-top: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .paragraph-8 {
    width: 320px;
    font-size: 18px;
    line-height: 27px;
  }

  .heading-8 {
    width: 320px;
    height: auto;
    margin-top: 0px;
    font-size: 36px;
    line-height: 40px;
  }

  .paragraph-9 {
    margin-top: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .menu-selection {
    opacity: 0;
  }

  .icon {
    left: 69px;
  }

  .menu-button.w--open {
    padding-top: 18px;
    background-color: transparent;
  }

  .image-17 {
    width: 100px;
    max-width: none;
    margin-left: -6px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-18 {
    width: 100px;
    max-width: none;
    margin-left: 0px;
    padding-left: 0px;
  }

  .image-19 {
    left: -47px;
    top: 18px;
    width: 30px;
    padding-bottom: 80px;
  }

  .image-20 {
    width: 75px;
  }

  .image-21 {
    width: 75px;
  }

  .image-22 {
    width: 75px;
  }

  .image-23 {
    width: 50px;
  }

  .image-24 {
    width: 50px;
  }

  .image-25 {
    width: 50px;
  }

  .image-26 {
    width: 100px;
    max-width: none;
    margin-left: -3px;
  }

  .image-27 {
    width: 50px;
  }

  .image-28 {
    width: 50px;
  }

  .image-29 {
    width: 50px;
  }

  .image-30 {
    width: 50px;
  }

  .image-31 {
    width: 50px;
  }

  .page-contents {
    width: 100vw;
  }

  .wrapper {
    margin-top: -403px;
    -webkit-transform: translate(0px, 0px) scale(0.35);
    -ms-transform: translate(0px, 0px) scale(0.35);
    transform: translate(0px, 0px) scale(0.35);
  }

  .nav {
    width: 100vw;
  }

  .section-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .s3-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .s4-content {
    width: 80vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .s5-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .div-block-24 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .section-3 {
    overflow: hidden;
    width: 100vw;
    height: 700px;
  }

  .demo-wrapper1 {
    margin-top: -46px;
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
  }

  .section-4 {
    width: 100vw;
  }

  .partners-grid {
    width: 90vw;
    margin-top: 0px;
    margin-bottom: 44px;
    grid-row-gap: 10vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .tutorials-div {
    margin-left: 5vw;
  }

  .s6-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .news-title {
    margin-bottom: 20px;
    padding-top: 64px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
  }

  .tutorial-title {
    margin-bottom: 20px;
    padding-top: 64px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 22px;
  }

  .article-div {
    margin-left: 5vw;
  }

  .article-ink.seemoretutorials {
    padding-right: 20px;
  }
}

.toc {
  font-family: $sans-serif-narrow;
  color: $gray;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
	//position: fixed;
  .nav__title {
    color: #fff;
    font-size: $type-size-6;
    background: $primary-color;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  // Scrollspy marks toc items as .active when they are in focus
  .active a {
    @include yiq-contrasted($active-color);
  }
}
